<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>

<header>
    <ul>
        <li style="display:inline"><a href="/">Main</a></li>
        <li style="display:inline"><a href="/asc/">Asc</a></li>
        <li style="display:inline"><a href="/number/">Number</a></li>
    </ul>
</header>