<%- include('../Partials/header.ejs') %>

<body>
    <h1>Main page choose your shit</h1>
    <a href="/asc/">Asc convertor</a>
    <a href="/number/">Number convertor</a>
</body>
<footer>

</footer>
</html>